<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" href="/css/styles.css">
	<link rel="shortcut icon" type="image/x-icon" href="/images/logo0.png" />
	<title>Gestions</title>
</head>

<body>
	<div class="container">

		<!-- ENTETE -->


		<div th:replace="fragments/entete_post :: entete_post"></div>
		<!-- ---------------- -->


		<!-- IMAGE -->
		<div class="row">
			<div class="col">
				<img class="img-fluid" src="/images/bandeau22.jpg" alt="" th:src="@{/images/bandeau22.jpg}" />
			</div>
		</div>
		<!-- ----------------- -->

		<span th:unless="${vide}">
			<div class="row d-flex justify-content-center">


				<h1>Liste de toutes des opérations</h1>

			</div>
		</span>

		<span th:if="${vide}">
			<div class="row d-flex justify-content-center">


				<h1 style="color: red;">La liste des opérations est vide</h1>

			</div>
		</span>


		<span th:unless="${vide}">
			<div class="row">

				<div class="col donnees" style="margin: 5px;">

					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Compte</th>
								<th scope="col">Propriétaire</th>
								<th scope="col">Date</th>
								<th scope="col">Montant</th>
								<th scope="col">Catégorie</th>
								<th scope="col">Modifier</th>

							</tr>
						</thead>
						<tbody>
							<tr th:each="operation, iStat: ${operations}">

								<td th:text="${compte.nom}" />
								<td th:text="${compte.proprietaire}" />

								<td th:text="${#temporals.format(operation.date, 'dd-MM-yyyy')}" />
							<td th:text="${operation.montant}" />
							<td th:text="${operation.nomCategorie}" />
							<td><a
								th:href="@{/operation/modifier/{id}(id=${operation.id})}"><p
										type="text" class="btn btn-block"
										style="background-color: #730800; color: white">Modifier</p></a>
							</td>
							
						</tr>

					</tbody>
				</table>


			</div>


		</div>
		
		</span>

		<div class="row mt-3">
			<div class="col d-flex justify-content-end">
			
			<!-- 
						<div class="form-group mr-3">
							<a
								th:href="@{/projets/ressource/{id}/true(id=${utilisateur.id})}"><p
									type="text" class="btn btn-block"
									style="background-color: #7e60fb; color: white">Actifs</p></a>
						</div>
				
					
					
						<div class="form-group mr-3">
							<a
								th:href="@{/projets/ressource/{id}/false(id=${utilisateur.id})}"><p
									type="text" class="btn btn-block"
									style="background-color: #730800; color: white">Terminés</p></a>
						</div>
			
				
					
						<div class="form-group mr-3">
							<a
								th:href="@{/projets/voir/tous/true}"><p
									type="text" class="btn btn-block"
									style="background-color: #7e60fb; color: white">Actifs</p></a>
						</div>
				
						<div class="form-group mr-3">
							<a
								th:href="@{/projets/voir/tous/false}"><p
									type="text" class="btn btn-block"
									style="background-color: #730800; color: white">Terminés</p></a>
						</div>
			
			-->
				
				<div class="form-group ">
					<a href="/espace"><p type="text" class="btn btn-block"
							style="background-color: #407A0C; color: white; ">Retour</p></a>
				</div>
			</div>


		</div>

		<!-- PIED DE PAGE -->

		<div th:replace="fragments/footer :: footer"></div>

		<!-- ********************************************* -->


	</div>
	<!-- fin conteneur -->


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>